/Отчёты
/T

/Lab1/Lab1/venv
/Lab1/Lab1/__pycache__
/Lab1/Lab2/.venv
/Lab1/Lab2/__pycache__


/Lab2/.venv
/Lab2/__pycache__

/Lab3/.venv
/Lab3/__pycache__

/Lab4/.venv
/Lab4/__pycache__

/Lab5/.venv
/Lab5/__pycache__
